<div class="container">
  <div class="row">
    <div class="col">
      <h2>ユーザー作成</h2>


      <%= form_for @user do |f| %>
        <p>HTMLで名前(name)とメール(email)をpostできるinputフィールドを作成せよ！</p>
        <p>↓↓↓↓↓解答はここから↓↓↓↓↓</p>
         <%= f.label :名前 %>
         <%= f.text_field :name, class: 'form-control', placeholder: '名前を入力してください' %>
         <%= f.label :メール %>
         <%= f.text_field :email, class: 'form-control', placeholder: 'メールを入力してください' %>
        <p>↑↑↑↑↑解答はここまで↑↑↑↑↑</p>
        <%= f.submit '登録' %>
      <% end %>


    </div>
  </div>
</div>

<style>
  label {
    display: block;
      font-weight: bold;
        }
      </style>
